<!DOCTYPE html>
<html>
<head>
	<title><%= title %>
	</title>
</head>
<body>
<div class="div-left">
<% include header %>
</div>
<div class="div-left">
	<br>
<%= title %>
	<br>
	<br>
	<button type="button">新增</button>
	<table border="1">
		<tr>
			<td>名稱</td>
			<td>圖片</td>
		</tr>
<% Detail.forEach(function(detail){ %>
		<tr>
			<td><%= detail.name%>
			</td>
			<td><%= detail.pic%>
			</td>
<%})%>
	</table>
</div>
</body>
</html>
